<p>
      Do you use software containers? Have you heard of applications such as Docker and Singularity, but aren't sure where to begin with incorporating them into your workflows? Join us for an introductory workshop hosted by the Research IT Cyberinfrastructure Team.  In this four-hour workshop, you will learn:
      <ul>
            <li>What a container is</li>
            <li>Why Singularity is our containerization platform of choice</li>
            <li>How to build containers from scratch and interact with them</li>
            <li>How to use Docker containers with Singularity</li>
            <li>How to leverage Singularity to optimize your current scientific workflows</li>
      </ul>
      Singularity represents an exciting new frontier in HPC application development moving on to our newly built research cluster.  Come join us and learn how Singularity can help you make your workflows more reproducible and mobile.
</p>
