<div class="row">
  <div class="col-md-6">
    <h3>Friday Oct 23</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:05</td>  <td>Container Basics: What is a container?</td> </tr>
      <tr> <td>09:30</td>  <td>Hand-on: Interacting with containers</td> </tr>
      <tr> <td>10:00</td>  <td>Building containers with example</td> </tr>
      <tr> <td>10:30</td>  <td>Building containers: Python example</td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td>Building containers: Qiime2 example</td> </tr>
      <tr> <td>11:45</td>  <td>Advanced examples: X11 and Signatures</td> </tr>
      <tr> <td>12:15</td>  <td>Using containers in batch jobs</td> </tr>
      <tr> <td>12:30</td>  <td>Using Jaxreg containers as a bootstrap</td> </tr>
      <tr> <td>12:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
